*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .principal-container-home{
   
    display: flex;
  
} */

.Left-container-home{
    
    height: auto;
}

.center-container-home{
  
    height: auto;
    width: 100%;
   
}
.btn-cart-red{
    background-color: rgba(239, 16, 16, 0.818);
    color: white;
    padding: 0.6rem;
    border-radius: 360%;
    
}
.cards-container{
    
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.search-name-container{
width: 80%;
background-color: rgb(239, 16, 16);
margin-left: 6%;

}
.relationated-container{
margin-top: 5rem;
}
.div-cart-container{
    display: flex;
    justify-content: space-between;
}
.price-car{
    display: flex;
    justify-content: space-between;
}
.quantity-container{
    margin-right: 40%;
    margin-bottom: 1rem;
}
.btn-cart-transp{
    background-color: transparent;
}
.cart-selected{
    font-size: 10px;
    display: flex;
    
}
.box-cart{
    border: 1px solid grey;
    padding: 0.3rem;
}
.detail-carrucel{
    margin-bottom: 3rem;
}
.purchase-container{
    margin-left: 25%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    
}
.purchase-card-continer{
    margin: 2rem 0 ;
}
.log-container{
    width: 30%;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.258);
    padding: 2rem;
}
.cart-product-container{
    display: flex;
    gap: 1rem;
}
.img-cart{
    width: 50px;
}
.box-cart-cart{
    border: 1px solid grey;
    padding: 0.3rem;
    margin-left: 30%;
}
.price-container{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.buton-check-container{
    position: fixed;
    bottom: 0;
    right: 3rem;
    width: 300px;
    border-top: 1px solid gray;
    
}